#mario-chat {
    border: 1px solid red;
    width: 500px;
    margin: 0 auto;
}


#chat-window {
    height: 500px;
    background: #ecf0f1;
}

#handle {
    background: #f1c40f;
}

#message {
    display: block;
    width: 100%;
    height: 50px;
    background: #bdc3c7;
    color: #2c3e50;
}

#send {
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;

}

#feedback {
    color: #27ae60;
}
